.static-menu {
	.menu-wrap {
		ul {
			list-style: none;
			margin: 0;
			li {
				display: inline;
				padding-right: 20px;
				&:last-child {
					padding-right: 0;
				}
				a {
					color: $text-light;
					font-size: 14px;
					font-weight: 400;
					&:hover {
						color: $dark-gray;
						// transition: 
					}
				}
			}
		}
	} 
}


*:focus {
	outline: none;
}

@mixin admin-bar-fixed {
	.admin-bar & {
		margin-top: 32px !important;

		@media screen and ( max-width: 782px ) {
			margin-top: 46px !important;
		}
	}
}

#wpadminbar {
	position: fixed;
}

body {
	padding-top: $site-header-height;
	word-wrap: break-word;
}
